name: Deploy Hugo site to GitHub Pages

on:
  push:
    branches:
      - main  # 每次推送 main 分支就触发构建
  workflow_dispatch:  # 支持手动触发

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.152.2'   # 你的 Hugo 版本
          extended: true

      - name: Build site
        run: hugo --minify

      - name: Upload site artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public  # Hugo 默认输出目录

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
